@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}
.login-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    width: 400px;
    height: 400px;

}